<!doctype html>
<head>
	<%- include('../template/head') %>
</head>
<html>
	<%- include('../template/navbar') %>
	<%- include('../template/login') %>
	<div class="container">
		<% if (errorMessage && errorMessage.length > 0) { %>
			<div class="alert alert-danger" role="alert">
			  <%= errorMessage %>
			</div>
		<% } %>
		<form method="POST" action="/login">
			<div class="mb-3 row">
				<label class="col-sm-2 col-form-label">Username</label>
				<div class="col-sm-10">
				<input type="text" class="col-sm-2 col-form-label" name="username">
				</div>
			</div>
			<div class="mb-3 row">
				<label class="col-sm-2 col-form-label">Password</label>
				<div class="col-sm-10">
				<input type="password" class="col-sm-2 col-form-label" name="password">
				</div>
			</div>
				<button type="submit" class="btn btn-primary">Submit</button>
			<div style="display: flex;">
				<div style="margin-top: 20px; margin-right: 25px;">
					<a href="/auth/google" class="btn red darken-1">
						<i class="fab fa-google left"></i> 使用Google帳戶登入
					</a>
				</div>
				
				<a href="#" style="margin-top: 20px;" onclick="signOut();">Sign out</a>
			</div>
			<div>
				
			</div>
				
		</form>
	</div>
</html>